*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fa;
}

header{
    background:#1e3a8a;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
    
}
.search-box{
    display:flex;
    gap:10px;
}

.search-box input{
    padding:10px;
    border:none;
    border-radius:5px;
    width:250px;
    outline:none;
    margin-bottom:10px;
}

.search-box button{
    padding:10px 20px;
    border:none;
    background:#ffd700;
    color:#000;
    border-radius:5px;
    cursor:pointer;
    font-weight:bold;
    margin-bottom:10px;
    
}

.search-box button:hover{
    background:#ffcc00;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#d9c23f;
}

section{
    padding:50px 8%;
}

h2{
    text-align:center;
    margin-bottom:30px;
    color:#1e3a8a;
}

.card-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,0.25);
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card h3{
    padding:15px;
}

.card p{
    padding:0 15px 15px;
    color:#666;
}

.card button{
    margin:15px;
    padding:10px 20px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

.card button:hover{
    background:#1d4ed8;
}

footer{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}